---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags || []).flat()),
    ];
    console.log(uniqueTags);

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags?.includes("JavaScript"),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
    <ul class="flex-col items-center justify-center flex-1 flex-nowrap">
        {
            posts.map((post) => (
                <li class="p-2">
                    <a
                        href={`/blog/${post.slug}/`}
                        class="inline-block text-2xl text-black decoration-wavy"
                    >
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
