---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="flex flex-col w-full">
		<h2 class="text-center">技术栈</h2>
		<hr />
		<p class="w-full">
			<ul class="w-full">
				<li>Python</li>
				<li>JavaScript</li>
				<li>Golang</li>
				<li>Java</li>
			</ul>
		</p>
	</div>
</BaseLayout>
