---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeComponent from "../components/TimeComponent";

const posts = await getCollection("blog");
---

<BaseLayout>
	<div class="flex-col">
		<TimeComponent client:load />
	</div>
</BaseLayout>
