---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeComponent from "../components/TimeComponent";
---

<BaseLayout>
	<div class="flex-col w-full items-center justify-center">
		<!-- <TimeComponent client:load /> -->
		Hello
	</div>
</BaseLayout>
